*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
}
div{
    height: 100px;
    width: 100px;
    background-color: black;
    position: absolute;
    left: 90%;
    top: calc((100% - 100px) /2);
}